
div{
border-style: double;
background-color: orange;
margin: 5px;
padding: 5px;

}
.dotted{

background-color: rgb(65, 161, 70);
border-style: dotted;
border-width: 5px; 


}

.dashed{
background-color: rgb(233, 28, 171); margin: 10px; border-style: dashed; border-width: 5px;

top: 30px;
left: 5px;
}

body {
    background-color: gold;
}

.double {
border: 2px; color: aqua ; border-style: double;
position: relative;margin-left: auto;
margin-right: auto;
}

.gozluk {
border: 15px; border-style: inherit; 


}
.grove{


}

.seker{
border-style: ridge;position: absolute;
}

.cocuk1{
    background-color: brown;
}
.cocuk2{
    background-color: darksalmon;
}
.cocuk3{
    background-color: rgb(26, 167, 26);
}
.cocuk4{
    background-color: rgb(116, 73, 187);
}
.cocuk5{
    background-color: rgb(255, 18, 18);
}
.cocuk6{
    background-color: rgb(23, 153, 185);
}
.cocuk7{
    background-color: rgb(36, 155, 109);
}